.mymodal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.mymodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .moment {
    border: 5px solid #888;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 1%;
  }

  .mywrapper {
    width: 100pt;
    height: 100pt;
    border: 5px solid #515151;
  }
  .myexmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myexmpl img {
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
  }