.wrapper {
    height: 100vh;
}

.login {
    padding: 12px;
    width: 300px;
    height: min-content;
    background-color: white;
    border-radius: 10px;
}

.loginTitle {
    text-align: center;
    font-size: 30px;
}

.loginButton {
    border: 10px;
}
