.userList {
    max-height: 300px; /* Set a maximum height for the list */
    overflow-y: auto; /* Enable vertical scrollbar */
  }
  
  .userListContainer {
    list-style-type: none; /* Remove default list styles */
    padding: 10px;
    margin: 10px;
  }